PORT=5000
MONGODB_URI=mongodb+srv://akhilmadanu317_db_user:D8VCDDyK2QmWQhN8@cluster0.hh9ydiw.mongodb.net/nxtbuild?retryWrites=true&w=majority
JWT_SECRET=akH!l_super_secure_key_2026
JWT_EXPIRES_IN=7d
GEMINI_API_KEY=AIzaSyA5M8rbpp2SLz_yhdmK9QkxPQkZ-qAS7CM
CLIENT_URL=http://localhost:5173
//mongodb://localhost:27017/Nxtbuild